@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #1A0B2E;
    width: 100%;
    color: #fff;
}

nav{
    max-width: 75%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding: 24px 20px;
    align-items: center;
}
nav h2{
    font-size: 2.5rem;
    font-weight: bold;
}
.logo{
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 nav ul{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    
 }
 nav ul li{
    list-style-type:none;
 }
 nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1rem;
 }
 nav ul li a:hover{
   color: #aa83de;
 }

.subscribe-button{
    background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
    width: 135px;
    padding: 12.5px 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 22px;
    display: flex;
    text-align: center;
    gap: 5px;
    cursor: pointer;
}
.subscribe-button:hover{
    width: 200px;
    transition: width 0.5s linear 0s;
    display: flex;
    justify-content: space-between;
}

#banner{
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    padding-top: 50px;
    text-align: center;
    height: 100vh;
}

.banner-container{
    width: 550px;
    margin: 0px auto;
    
}

.bg-center-img{
   width: 350px;
   position: relative;
   margin: 0px auto;
}
.new-button{
    position: absolute;
    width: 75px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #1A0B2E;
    padding: 8px 16px;
    background-color: #00FF88;
    box-shadow: 0px 3px 27px rgba(0, 255, 136, 0.5);
    border-radius: 106px;
    left: 60%;
}
.img-1{
    width: 100%; 
   
}
.img-2{
   position: absolute;
   top: 25%;
   left: 35%;
}

#banner h2{
    font-size: 3.75rem;
    font-weight: 800;
    padding-top: 40px;
}
#banner p{
    font-size: 1rem;
   
}
.hero-button{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 30px;
}

.spotify-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    gap: 10px;
    background: linear-gradient(to right top, #F7E93F, #FB09B4, #9100F8);
    cursor: pointer;
}

.sbsc-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00FF88;
    padding: 12px 20px;
    border: 1px solid #00FF88;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: 600;
    gap: 10px;
    background: none;
    cursor: pointer;
}

#about{
    width: 100%;
    background-color: #1A0B2E;
    padding-top: 50px;
    text-align: center;
    color: #FFFFFF;
}
.about-container{
    max-width: 75%;
    margin: 0px auto;
}
.about-text h2{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 16px;
    padding-top: 20px;

}
.about-text p{
    font-size: 0.8rem;
    line-height: 20px;
    width: 70%;
    margin: 0px auto;
}

hr{
    border-color: #FFFFFF;
    width: 90%;
    margin: 50px auto;
}
.about-card{
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}
.about-card h1{
    color: #00FF88;
    font-size: 3rem;
}
.about-card p{
    font-size: 1rem;
    line-height: 20px;
}

#choose-section{
    width: 100%;
    background-color: #230E3D;
    color: #FFFFFF;
}

.choose-container{
    max-width: 75%;
    margin: 0px auto;
    padding-bottom: 80px;
}
.choice-title{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 1.5rem;
    font-weight: bold;

}
.grid-section{
    display: grid;
    grid-template-columns: repeat(3,35%);
    grid-template-rows: repeat(7,70px);
    gap:10px;
    justify-content: center;
    
    
}

.sec-1, .sec-2 , .sec-3, .sec-4 ,  .sec-5{
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 20px;  
}
.sec-1 h5, .sec-2 h5, .sec-3 h5, .sec-4 h5, .sec-5 h5{
   font-size: 1.2rem;   
   padding-top: 10px;
   font-weight: bold;
}
.sec-1 p, .sec-2 p, .sec-3 p, .sec-4 p, .sec-5 p{
   font-size: 1rem;   
   padding-top: 5px;
   line-height: 20px;
}
.sec-1 img, .sec-2 img, .sec-3 img, .sec-4 img, .sec-5 img{
   width: 40px;
}

.sec-1{
    grid-row: span 4;
     padding: 40px  20px; 
    
}
.sec-2 , .sec-3{
    grid-row: span 2;
    grid-column: span 2;
     padding: 15px  20px; 
}
.sec-4{
    grid-column: span 2;
    grid-row: span 3;
     padding: 40px  20px; 
}
.sec-5{
    grid-column: span 1;
    grid-row: span 3;
     padding: 40px  20px; 
}

#feature{
    max-width: 100%;
    background-color: #1A0B2E;
    color: #FFFFFF;
    text-align: center;
}
.feature-container{
    max-width: 75%;
    margin: 0px auto;
    padding: 60px 10px;
}
.feature-container h3{
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 40px;
}

.video-cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.video-cards iframe{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.cards{
    background-color: #250D44;
    border-radius: 15px;
   
}
.cards h5{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    text-align: left;
}
.cards p{
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    padding: 15px;
}

.video-time{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 15px;
    padding-bottom: 20px;
    gap: 10px;
    color: #00FF88;
}

.host-container{
    max-width: 75%;
    margin: 0px auto;
    padding-bottom: 70px;
}
.host-container h3{
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 40px;
}
.host-card{
    display: flex;
    align-items: center;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 20px;
    text-align: left;
    gap: 10px;
}
.host-card h4{
   font-size: 1.6rem;
   padding-bottom: 10px;
}   
.host-card p{
   font-size: 0.8rem;
   line-height: 20px;
   padding-bottom: 10px;
}
.icon{
    display: flex;
    gap: 20px;
}
.icon-border{
    border: 1px solid #533C72;
    border-radius: 50%;
    width: 80px;
}
.icon img{
    width: 30px;
    padding: 5px;
}
footer{
    background-image: url("../assets/footer-bg.png");
    background-repeat: no-repeat;
    background-color:rgb(32, 17, 67);
    background-size: 100%;
    background-position: 100%;
    text-align: center;
    padding: 50px;
    color: #FFFFFF;
    width: 100%;  
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 75%;
    margin: 28px auto;
    /* border: 1px solid red; */
}

.single-icon{
    display: flex;
    gap: 10px;
}

.menu-show{
    display: none;
}

.hide{
    display: none !important;
}

@media screen and (max-width:576px) {
    .menu-hide{
        display:none;
    }
    .menu-show {display: block;}

    nav{
        max-width: 95%;
    }

    .banner-container{
        width: 90%;
        margin: 0px auto;
    }

    .img-1{
         width: 80%; 
    }

    #banner h2{
        padding-top: 20px;
    }

    #about{
        padding-top: 30px;
    }
    .about-container{
        max-width: 95%;
    }

    .about-text h2{
        font-size:2.5rem ;
        width: 85%;
        margin: 60px auto 0px;

    }
    .about-text p{
        width: 95%;
        margin: 0px auto;
    }

    .about-card{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(2,50%);
    }

    .choose-container{
        max-width: 95%;
        margin: 0px auto;
        align-items: center;
    }

    .choice-title{
        padding-top: 30px;
        font-size: 1.2rem;

    }
    .grid-section{
        display: grid;
        grid-template-columns: repeat(1,90%);
        margin: 0px auto;
        gap:10px;
        justify-content:center ;
    }
    .sec-1, .sec-2 , .sec-3, .sec-4 ,  .sec-5{

        grid-row: span 4;
        grid-column: span 1;
        padding: 40px  20px; 
    }

    .feature-container{
        max-width: 95%;
    }

    .video-cards{
        display: grid;
        grid-template-columns: repeat(1,95%);
        gap: 20px;
        justify-content:center ;
    }

    .host-container{
        max-width: 90%;
    }
    .host-card{
        flex-direction: column;
        text-align: center;
    }
    .icon{
        justify-content: center;
    }
    .footer-icon{
        flex-wrap: wrap;

    }

}